body{
    background: rgb(24, 192, 214);
}
.controls {
    width: 100%;
    background:#dbe8f0c5;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f9fdff;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

.ayuda-box {
    margin: 1cm;
    border-radius: 50px;
    width: 320px;
    height: 490px;
    background: rgb(253, 254, 255);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.h1{
    background: rgb(217, 255, 0);
    color: rgb(17, 17, 17);
}

