body{

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 25, 25);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 0, 0);
    padding: 0 150px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

